/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family:sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

/* CONTAINER */
.container{
    width:420px;
    max-width:100%;
    padding:25px;
    border-radius:16px;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.15);
    color:#fff;
}

/* TITLE */
h2{
    text-align:center;
    margin-bottom:15px;
}

/* INPUT BOX */
.input-box{
    position:relative;
    width:100%;
    margin:10px 0;
}

/* INPUT */
.input-box input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.2);
    background:rgba(255,255,255,0.05);
    color:#fff;
    outline:none;
}

/* PHONE */
.phone{
    display:flex;
}

.phone span{
    padding:12px;
    background:rgba(255,255,255,0.1);
}

.phone input{
    border:none;
    flex:1;
}

/* ICON */
.input-box i{
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

/* PIN */
#pincode{
    letter-spacing:2px;
}

/* UPLOAD */
.upload-box{
    border:2px dashed rgba(255,255,255,0.3);
    padding:20px;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    margin:10px 0;
}

.upload-box img{
    width:80px;
    height:80px;
    border-radius:50%;
    display:none;
}

/* STRENGTH */
.strength-box{
    height:6px;
    background:rgba(255,255,255,0.1);
    border-radius:10px;
}

.strength-bar{
    height:100%;
    width:0%;
    transition:0.3s;
}

.weak{background:red;width:33%;}
.medium{background:orange;width:66%;}
.strong{background:green;width:100%;}

/* CHECKLIST */
.checklist p{
    font-size:12px;
}

.valid{color:#22c55e;}
.invalid{color:#ef4444;}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:linear-gradient(135deg,#3b82f6,#2563eb);
    color:#fff;
    cursor:pointer;
}